<div class="background2">
  {{> navbar }}

  <h1 class="profileTitle">Profile informations</h1>
  <div id="profile">
    <div class="image-container">
      <img class="images" src="{{user.profilePic}}" alt="">
    </div>
    <div class="presentation">
      <p>{{user.username}} <br> {{user.email}}</p>
    </div>
    <div class="bio">
      <p>{{user.bio}}</p>
    </div>
      <div class="buttonEdit">
    <a href="/profile/{{user._id}}/edit">EDIT</a>
  </div>
  </div>
</div>