{{> navbar }}

{{#if msg}}
    <div class="message success">
        {{msg}}
    </div>
{{/if}}

{{#if err}}
    <div class="message error">
        {{err}}
    </div>
{{/if}}

<h1>{{group.name}}</h1>

{{#if isAdmin}}
    <div class="admin-panel">
        <h2>Admin Panel</h2>
        <form action="/group/{{group.name}}/delete" method="POST">
            <button type="submit" class="btn btn-primary">Delete group</button>
        </form>
        {{#if pendingUsers}}
            <h3>Pending Users</h3>
            <ul>
            {{#each pendingUsers}}
                <li>
                    {{username}}
                    <form action="/group/{{../group.name}}/accept/{{username}}" method="POST">
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
                    <form action="/group/{{../group.name}}/reject/{{username}}" method="POST">
                        <button type="submit" class="btn btn-primary">Reject</button>
                    </form>
                </li>
            {{/each}}
            </ul>
        {{/if}}
    </div>
{{/if}}

<h2>Members</h2>
<ul>
    {{#each group.members}}
        <li>{{username}} ({{status}})</li>
    {{/each}}
</ul>

<h2>News</h2>
<ul>
    {{#each group.news}}
        <li>{{username}} - {{message}}</li>
    {{/each}}
</ul>

<h2>Movies</h2>
<div class="randomMovies">
    {{#each topMovies}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive card-img-top" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="poster">
                <div class="overlay">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
    {{/each}}
</div>